head
  title Chrigeo Simple Boilerplate
  
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
    
  link(rel="stylesheet", type="text/css", href="vendor/bootstrap.min.css")
  link(rel="stylesheet", type="text/css", href="styles/style.css")
    
  script(type="application/javascript", src="vendor/jquery-3.2.1.min.js")
  script(type="application/javascript", src="vendor/bootstrap.min.js")
