doctype html
html
  include pug/_head
    
  body
    .container-fluid
      .jumbotron.text-center
        h1 Pug+Sass+CoffeeScript Simple Boilerplate
        img(class="img-responsive center-block yay", src="media/yay.png", alt="YAY")
        p You can begin to work in the src/ folder !
        a(href="./about.html") Other page
      include pug/_footer

    script(type="application/javascript", src="js/app.js")
    
